const video = document.getElementById("backgroundVideo");
const categoryName = document.getElementById("categoryName");
const progress = document.getElementById("indicatorProgress");

const clips = [
    {
        video: "assets/videos/f1.mp4",
        name: "FORMULA 1"
    },
    {
        video: "assets/videos/wec.mp4",
        name: "WEC"
    },
    {
        video: "assets/videos/stockcar.mp4",
        name: "STOCK CAR"
    },
    {
        video: "assets/videos/endurance.mp4",
        name: "ENDURANCE"
    }
];

let currentClip = 0;

function changeClip() {

    currentClip++;

    if (currentClip >= clips.length) {
        currentClip = 0;
    }

    video.style.opacity = "0";

    setTimeout(() => {

        video.src = clips[currentClip].video;

        categoryName.textContent = clips[currentClip].name;

        video.load();
        video.play();

        video.style.opacity = "1";

    }, 500);

}


/* Quando o vídeo terminar */
video.addEventListener("ended", changeClip);


/* Barra de progresso */

function updateProgress() {

    if (!video.duration) return;

    const percentage =
        (video.currentTime / video.duration) * 100;

    progress.style.width = percentage + "%";

    requestAnimationFrame(updateProgress);
}

updateProgress();
